/Kalantyr.Auth/bin
/Kalantyr.Auth/obj
/Kalantyr.Auth.Tests/bin
/Kalantyr.Auth.Tests/obj
/.vs
/Kalantyr.Auth.Client/obj
/Kalantyr.Auth.Client/bin
/Kalantyr.Auth.Models/obj
/Kalantyr.Auth.Models/bin
/Kalantyr.Auth/*.user
/*.user
/Kalantyr.Auth.InternalModels/bin
/Kalantyr.Auth.InternalModels/obj
/Kalantyr.Auth.DbRepositories/bin
/Kalantyr.Auth.DbRepositories/obj
